html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--Very-dark-desaturated-blue);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:root {
  /* Colors */
  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --Dark-gray: hsl(0, 0%, 59%);
}

body {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-cyan);
}

p {
  margin: 0.3rem;
}

span {
  font-weight: 400;
  color: var(--Dark-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
}

.card__followers,
.card__likes,
.card__photos {
  text-align: center;
}

.card__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3.5rem 0 1rem 0;
  font-weight: 700;
}

.card__profile-info p:nth-child(2) {
  font-weight: 400;
  color: var(--Dark-gray);
  font-size: 0.8rem;
}

.card__stats {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.card__stats-number {
  font-weight: 700;
}

.card__stats-category {
  color: var(--Dark-gray);
  font-size: 0.7rem;
}

.card__cover-page {
  background-image: url(../images/bg-pattern-card.svg);
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 1rem 1rem 0 0;
}

.card__profile-img {
  position: absolute;
  left: 50%;
  bottom: -25%;
  transform: translateX(-50%);
  border: thick solid #fff;
  border-radius: 50%;
}

.card__separator {
  width: 100%;
  height: 1.2px;
  background-color: rgba(75, 75, 75, 0.1);
}
